/* SidePanel.css */

.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  overflow-y: auto; /* Enable vertical scrolling for the entire side panel */
}

.slide-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  transition: left 0.3s ease-in-out;
}

.slide-window.open {
  left: 250px; /* Slide in when open */
}

.slide-window.closed {
  left: 0; /* Slide out when closed */
}

.slide-window-content {
  padding: 20px;
}

.toggle-slide-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

.draggable-item {
  height: 120px;
  width: 150px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #e0e0e0;
  cursor: pointer;
}

.draggable-item:hover {
  background-color: #ccc;
}

p {
  margin: 0px;
  font-size: 15px;
}

.text-movements-library {
  font-family: 'Montserrat', sans-serif;
  text-align: right; /* Or any other alignment you want */
  padding: 7px;
}

/* Customize scrollbar */
.side-panel::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
  height: 8px; /* Set scrollbar height */
}

.side-panel::-webkit-scrollbar-thumb {
  background-color: #c5c1c1; /* Set scrollbar thumb color */
  border-radius: 5px; /* Round the scrollbar thumb */
}

.side-panel::-webkit-scrollbar-track {
  background-color: transparent; /* Make scrollbar track transparent */
}

/* Position scrollbar on the left */
.side-panel {
  direction: rtl;
}

.side-panel::-webkit-scrollbar {
  width: 8px; /* Set scrollbar width */
  height: 8px; /* Set scrollbar height */
  transform: rotate(180deg);
}
