  .App {
    text-align: center;
  }  

  .combined-video video{
    background-color: rgb(224, 223, 223);
    position: fixed;
    top: 5%;
    left: 30%;
    width: 600px;
    height: 350px;
    padding: 10px;
    box-sizing: content-box;
  }
  
  /* .combined-video video{
    padding: 10px;
    width: 400px;
    height: 250px;
    margin-top: 3%;
    height: 300px;
  } */
  
  .drop-area {
    border-left: 1px dashed black;
    margin-left: 20px;
  }

  .playbtn{
    position: absolute;
    top: 66%;
    color: black;
    border-color: black;
  }
  
  .video-play-buttonn {
  position: absolute;
  top: 66%;
  left: 50% ;
  width: 40px;
  height: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(209, 204, 204, 0.77); */
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(129 129 129);
}
