  .App {
    text-align: center;
    box-sizing: content-box !important;
  }  

  .combined-video video{
    /* background-color: rgb(224, 223, 223); */
    position: fixed;
    top: 5%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 10px;
    box-sizing: content-box !important;
    border-radius: 15px;
  }
  
  /* .combined-video video{
    padding: 10px;
    width: 400px;
    height: 250px;
    margin-top: 3%;
    height: 300px;
  } */
  
  .drop-area {
    border-left: 1px dashed black;
    margin-left: 20px;
  }

  .playbtn{
    position: absolute;
    top: 66%;
    color: black;
    border-color: black;
  }
  
  .video-play-buttonn {
  position: absolute;
  top: 68%;
  left: 50% ;
  width: 40px;
  height: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(209, 204, 204, 0.77); */
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid rgb(129 129 129);
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Smooth transition for transform and background-color */

}

.video-play-buttonn:hover {
  transform: scale(1.2); /* Scale up by 10% on hover */
  border: 1px solid rgb(129 129 129);
  background-color: transparent; 
}
