.VideoContainer {
  position: fixed;
  bottom: 50px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 900px; */
  /* height: 80px; */
  width: 60%;
  height: 10%;
  padding: 10px;
  z-index: 2;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-sizing: content-box !important;
}

.frameStyle {
  border: 1px solid #918d8d;
  padding: 5px;
  transition: all 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  box-sizing: content-box !important;
}

.frameStyle.dragging {
  opacity: 0.5;
}

.videoStyle {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  box-sizing: content-box !important;
}

.buttonStyle {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: content-box;
  margin: 5px;
  padding: 0px;
}

.frameStyle:hover .buttonStyle {
  display: block;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoName {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
}

.frameStyle:hover .videoName {
  display: block;
}

.dropZoneStyle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px #8f8c8c;
  background-color: transparent;
}

.VideoContainer > .dropZoneStyle:not(:last-child) {
  border-right: 1px solid #8f8c8c; /* Adds a line between drop zones */
}

.videoContainerWrapper {
  display: flex;
  align-items: center;
}

/* .savebtn {
  position: absolute;
  /* bottom: 5px; */
  /*right: 5%;
  background-color: rgb(129, 194, 129);
  max-height: 40px;
  top: 80% !important;
} */

.savebtn {
  position: absolute;
  right: 5%;
  bottom: 90px;
  color: #121212;
  /* top: 80%; */
  background-color: transparent;
  border: 2px solid rgb(117 117 117);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out; /* Smooth transition for transform and background-color */
}

.savebtn:hover {
  transform: scale(1.2); /* Scale up by 10% on hover */
  color: #005adf;
  border: 2px solid rgb(63 157 255);
  background-color: transparent; 
}



.savebtn .fa-save {
  color: white;
  font-size: 20px;
}

