  .App {
    text-align: center;
  }  

  .combined-video video{
    background-color: rgb(224, 223, 223);
    position: fixed;
    top: 5%;
    left: 30%;
    width: 600px;
    height: 350px;
    padding: 10px;
    box-sizing: content-box;
  }
  
  /* .combined-video video{
    padding: 10px;
    width: 400px;
    height: 250px;
    margin-top: 3%;
    height: 300px;
  } */
  
  .drop-area {
    border-left: 1px dashed black;
    margin-left: 20px;
  }

  .btn{
    position: absolute;
    top: 66%;
    color: black;
    border-color: black;
  }
  