/* gesturesection.css */

.row {
  display: flex;
  flex-wrap: wrap;
  /*margin: 15px; /* Adjust the margin as needed */
}

.col-3 {
  flex: 0 0 25%; /* Adjust the flex properties as needed */
  max-width: 25%; /* Adjust the maximum width as needed */
  padding: 15px; /* Adjust the padding as needed */
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}

.card .embed-responsive {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.card .embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  text-align: left;
  min-height: 100px;
}

.icon-container {
  display: flex;
}

.delete-gesture,
.edit-gesture {
  margin-right: 10px; /* Add spacing between the icons */
}
