@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.card1 {
  position: relative;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background: white;
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.card1:hover {
  transform: scale(1.05); /* Scale the card slightly when hovered */
}

.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face1 {
  box-sizing: border-box;
  padding: 40px;
}
h2 {
  margin: 0;
  padding: 0;
}
.face2 {
  transition: 0.5s;
}
.h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.card1:nth-child(1) .face.face2 {
  background-color: white;
  border-radius: 15px;
}

.card1:nth-child(2) .face.face2 {
  background-color: white;
  border-radius: 15px;
}

.card1:nth-child(3) .face.face2 {
  background-color: white;
  border-radius: 15px;
}

.logo-image {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: auto;
  margin-bottom: 20px;
}

body {
  background-color: white;
  background-size: cover;
  background-position: center;
}
