.login-input-group {
    margin-top: 6%;
    background: transparent;
    border: 2px solid darkgray;
    border-radius: 20px;
    
}

.login-input-group-text {
    border-top: transparent;
    border-left: transparent;
    border-bottom: transparent;
    border-right: 2px solid darkgray;
    background-color: transparent;
}

.info-icon {
    border: transparent;
    border-radius: 20px;
    background-color: transparent;
}
.info-icon:hover{
    border-radius: 20px;

}

#login-popover  {
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    border-color: transparent;
}

