body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.container {
  margin: 50px auto;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); */
  text-align: center;
}

h1 {
  color: #1e90ff;
  font-size: 32px;
  margin-top: 0;
}

p {
  font-size: 20px;
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.5);
}

confirm-btn {
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0077b3;
}
