body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

#loginTitle {
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-bottom: 16px;
}

#login-container {
  background-color: transparent !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-image {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

#btn-guest {
  margin-top: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent; /* No background */
  color: #007BFF; /* Bootstrap's default link color for consistency */
  font-size: 16px; /* Reasonable font size */
  text-decoration: underline; /* Underline to suggest it is clickable */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

#btn-guest:hover {
  color: #0056b3; /* Darker blue on hover */
}

form {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  max-width: 90%;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007f5f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #00533e;
}

.error-message {
  color: red;
  margin-top: 10px;
}
